{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <h1>Info about our company</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo dicta autem, incidunt totam repellat exercitationem beatae dolorem molestias animi. Cupiditate. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, officia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab dolorum incidunt recusandae harum praesentium maxime fugit hic quas? Rem, quasi?</p>
</div>
  
{% endblock %}
