{% extends "base.html" %}
{% block content %}
    <form method="POST">
        {{form.hidden_tag()}}
        {{form.email.label}}{{form.email}}<br>
        {{form.username.label}}{{form.username()}}<br>
        {{form.password.label}}{{form.password()}}<br>
        {{form.pass_confirm.label}}{{form.pass_confirm}}<br>
        {{form.submit()}}
        
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="alert alert-warning" role="alert">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endwith %}
{% endblock %}